<!-- Latest News by me. ;P -->
<br>
<div>
	<h3>Latest News by SuperSaiyajinStackZ:</h3>

	<b>* Created a new Organization called <a href="https://github.com/Sim2Team">Sim2Team</a> which is for The Sims 2: Game Boy Advance and The Sims 2: Nintendo DS related stuff such as <a href="https://sim2team.github.io/Sim2Editor/">Sim2Editor</a>.</b><br><br>

	<b>* Working on the <a href="https://github.com/Universal-Team/Universal-Updater">Universal-Updater</a> rewrite which will add support for the Nintendo DSi.</b><br><br>
	<b>* Released <a href="/stackgames/stackmill">StackMill</a> v0.3.0.</b>
</div><br>