<!-- Latest News by me. ;P -->
<br>
<div class="mb-3">
	<h3>Latest News by SuperSaiyajinStackZ:</h3>

	<ul class="fw-bold">
		<li>Extended Sim2Server with The Sims Bustin' Out and The Urbz - Sims in the City. (Checkout <a href="https://sim2team.github.io/">Sim2Team's site</a> for more about it).</li>
		<li>Released <a href="/stackgames/stackmill">StackMill</a> v0.4.0.</li>
		<li>Created a new Organization called <a href="https://github.com/Sim2Team">Sim2Team</a> which is for The Sims 2: Game Boy Advance and The Sims 2: Nintendo DS related stuff such as <a href="https://sim2team.github.io/sim2editor/">Sim2Editor</a>.</li>
		<li>Working on the <a href="https://github.com/Universal-Team/Universal-Updater">Universal-Updater</a> rewrite which will add support for the Nintendo DSi.</li>
		<li>Released <a href="/stackgames/stackmill">StackMill</a> v0.3.0.</li>
	</ul>
</div>