<div class="container-fluid text-center">
	<br>
	<b>You can find active projects I work on here on the main-grid. The projects are ordered with their last activity from my side.</b><br>
	<b>Do NOTE, that most of them are part of Universal-Team and not directly from me. So checkout Universal-Team's page as well which you can find <a href="https://universal-team.net">here</a>.</b><br><br>

	<div class="row">
		<div class="col-sm-4">
			<a class="clean" href="/stackgames/stackmill">
				<div class="grid-tile">
					<h2>StackMill</h2>
					<h5>By: SuperSaiyajinStackZ</h5>
					<img src="/assets/images/icons/stackmill.png" alt="StackMill icon" height="128" width="128">
					<p class="grid-label">A clone of the Mill game for Nintendo 3DS.</p>
				</div>
			</a>
		</div>

		<div class="col-sm-4">
			<a class="clean" href="https://github.com/Universal-Team/Universal-Edit-Hex">
				<div class="grid-tile">
					<h2>Universal-Edit-Hex</h2>
					<h5>By: Universal-Team</h5>
					<img src="https://github.com/Universal-Team/Universal-Edit-Hex/raw/main/3DS/app/icon.png" alt="Univeral-Edit-Hex icon" height="128" width="128">
					<p class="grid-label">A work in progress Hex Editor for Nintendo 3DS.</p>
				</div>
			</a>
		</div>

		<div class="col-sm-4">
			<a class="clean" href="https://github.com/Universal-Team/Universal-Edit">
				<div class="grid-tile">
					<h2>Universal-Edit</h2>
					<h5>By: Universal-Team</h5>
					<img src="https://github.com/Universal-Team/Universal-Edit/raw/main/app/icon.png" alt="Univeral-Edit icon" height="128" width="128">
					<p class="grid-label">A work in progress Text Editor for Nintendo 3DS.</p>
				</div>
			</a>
		</div>
	</div>
</div>