<div class="container-fluid text-center">
	<br>
	<b>You can find active projects I work on here on the main-grid. The projects are ordered with their last activity from my side.</b><br>
	<b>Do NOTE, that most of them are part of Universal-Team and not directly from me. So checkout Universal-Team's page as well which you can find <a href="https://universal-team.net">here</a>.</b><br><br>

	<div class="row">
		<div class="col-sm-4">
			<a class="clean" href="https://sim2team.github.io/Sim2Editor/">
				<div class="grid-tile">
					<h2>Sim2Editor</h2>
					<h5>By: Sim2Team</h5>
					<img src="https://github.com/Sim2Team/Sim2Editor/raw/main/assets/images/icon.png" alt="Sim2Editor icon" height="128" width="128">
					<p class="grid-label">A work in progress The Sims 2 Game Boy Advance and Nintendo DS Save Editor for your web browser.</p>
				</div>
			</a>
		</div>


		<div class="col-sm-4">
			<a class="clean" href="https://github.com/Universal-Team/Universal-Updater">
				<div class="grid-tile">
					<h2>Universal-Updater</h2>
					<h5>By: Universal-Team</h5>
					<img src="https://github.com/Universal-Team/Universal-Updater/raw/master/app/icon.png" alt="Univeral-Updater icon" height="128" width="128">
					<p class="grid-label">A simple 3DS homebrew updater.</p>
				</div>
			</a>
		</div>

		<div class="col-sm-4">
			<a class="clean" href="/stackgames/stackmill">
				<div class="grid-tile">
					<h2>StackMill</h2>
					<h5>By: SuperSaiyajinStackZ</h5>
					<img src="/assets/images/icons/stackmill.png" alt="StackMill icon" height="128" width="128">
					<p class="grid-label">A clone of the Mill game for Nintendo 3DS.</p>
				</div>
			</a>
		</div>
	</div>
</div>