<div class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-4">
			<a class="clean" href="pkcount">
				<div class="grid-tile">
					<h2>PKCount</h2>
					<img src="../assets/images/icons/pkcount.png" alt="PKCount icon" height="128" width="128">
					<p class="grid-label">A Pokémon Shiny Hunter Tool for Nintendo 3DS & DSi!</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="mdg">
				<div class="grid-tile">
					<h2>Mystery Dice Game</h2>
					<img src="../assets/images/icons/mystery-dice-game.png" alt="Mystery Dice Game icon" height="128" width="128">
					<p class="grid-label">The mystery dice game.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="leafedit-pattern-editor">
				<div class="grid-tile">
					<h2>LeafEdit Pattern Editor</h2>
					<img src="../assets/images/icons/leafedit-pattern-editor.png" alt="LeafEdit Pattern Editor icon" height="128" width="128">
					<p class="grid-label">LeafEdit's Pattern Editor as a separate app.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="../stackgames/3delf">
				<div class="grid-tile">
					<h2>3DElf</h2>
					<img src="../assets/images/icons/3delf.png" alt="3DElf icon" height="128" width="128">
					<p class="grid-label">Deutsch: Ein Elfer raus! klon für den Nintendo 3DS.</p>
					<p class="grid-label">English: An Elfer raus! clone for the Nintendo 3DS.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="../stackgames/ludo3ds">
				<div class="grid-tile">
					<h2>Ludo3DS</h2>
					<img src="../assets/images/icons/ludo3ds.png" alt="Ludo3DS icon" height="128" width="128">
					<p class="grid-label">Deutsch: Ein Ludo klon für den Nintendo 3DS.</p>
					<p class="grid-label">English: A Ludo clone for the Nintendo 3DS.</p>
				</div>
			</a>
		</div>
	</div>
</div>