<div class="container-fluid text-center">
	<div class="row mb-3">
		<div class="col-sm-4">
			<a class="clean" href="pkcount">
				<img src="/assets/images/icons/pkcount.png" alt="PKCount icon" height="128" width="128">
			</a>
		</div>
		<div class="col-sm-6">
			<h2>PKCount</h2>
			<p class="grid-label">A Pokémon Shiny Hunter Tool for Nintendo DS(i) and Nintendo 3DS!</p>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-sm-4">
			<a class="clean" href="leafedit-pattern-editor">
				<img src="/assets/images/icons/leafedit-pattern-editor.png" alt="leafedit-pattern-editor icon" height="128" width="128">
			</a>
		</div>
		<div class="col-sm-6">
			<h2>LeafEdit-Pattern-Editor</h2>
			<p class="grid-label">LeafEdit's Pattern Editor as a separate app for Nintendo 3DS.</p>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-sm-4">
			<a class="clean" href="../stackgames/3delf">
				<img src="/assets/images/icons/3delf.png" alt="3DElf icon" height="128" width="128">
			</a>
		</div>
		<div class="col-sm-6">
			<h2>3DElf</h2>
			<p class="grid-label">An 'Elfer raus!' clone for the Nintendo 3DS.</p>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-sm-4">
			<a class="clean" href="../stackgames/ludo3ds">
				<img src="/assets/images/icons/ludo3ds.png" alt="Ludo3DS icon" height="128" width="128">
			</a>
		</div>
		<div class="col-sm-6">
			<h2>Ludo3DS / LudoNDS</h2>
			<p class="grid-label">A Ludo clone for Nintendo DS(i) and Nintendo 3DS.</p>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-sm-4">
			<a class="clean" href="../stackgames/stackmill">
				<img src="/assets/images/icons/stackmill.png" alt="StackMill icon" height="128" width="128">
			</a>
		</div>
		<div class="col-sm-6">
			<h2>StackMill</h2>
			<p class="grid-label">A clone of the Mill game for Nintendo 3DS.</p>
		</div>
	</div>
</div>