<div class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-4">
			<a class="clean" href="projects/pkcount">
				<div class="grid-tile">
					<h2>PKCount</h2>
					<img src="assets/images/icons/pkcount.png" alt="PKCount icon" height="128" width="128">
					<p class="grid-label">A Pokémon Shiny Hunter Tool for Nintendo 3DS & DSi!</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="projects/mdg">
				<div class="grid-tile">
					<h2>Mystery Dice Game</h2>
					<img src="assets/images/icons/mystery-dice-game.png" alt="Mystery Dice Game icon" height="128" width="128">
					<p class="grid-label">The mystery dice game.</p>
				</div>
			</a>
		</div>
	</div>
</div>