<div class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-4">
			<a class="clean" href="3delf">
				<div class="grid-tile">
					<h2>3DElf</h2>
					<img src="../assets/images/icons/3delf.png" alt="3DElf icon" height="128" width="128">
					<p class="grid-label">Deutsch: Ein Elfer raus! klon für den Nintendo 3DS.</p>
					<p class="grid-label">English: An Elfer raus! clone for the Nintendo 3DS.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="../projects/mdg">
				<div class="grid-tile">
					<h2>Mystery Dice Game</h2>
					<img src="../assets/images/icons/mystery-dice-game.png" alt="Mystery Dice Game icon" height="128" width="128">
					<p class="grid-label">The Mystery Dice Game.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="ludo3ds">
				<div class="grid-tile">
					<h2>Ludo3DS</h2>
					<img src="../assets/images/icons/ludo3ds.png" alt="Ludo3DS icon" height="128" width="128">
					<p class="grid-label">Deutsch: Ein Ludo klon für den Nintendo 3DS.</p>
					<p class="grid-label">English: An Ludo clone for the Nintendo 3DS.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="3deins">
				<div class="grid-tile">
					<h2>3DEins</h2>
					<img src="../assets/images/icons/3deins.png" alt="3DEins icon" height="128" width="128">
					<p class="grid-label">A Cardgame for Nintendo 3DS.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="3dzwei">
				<div class="grid-tile">
					<h2>3DZwei</h2>
					<img src="../assets/images/icons/3dzwei.png" alt="3DZwei icon" height="128" width="128">
					<p class="grid-label">A memory cardgame clone for Nintendo 3DS.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="3dvier">
				<div class="grid-tile">
					<h2>3DVier</h2>
					<img src="../assets/images/icons/3dvier.png" alt="3DVier icon" height="128" width="128">
					<p class="grid-label">A connect four clone for Nintendo 3DS.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<a class="clean" href="blockescape3ds">
				<div class="grid-tile">
					<h2>BlockEscape3DS</h2>
					<img src="../assets/images/icons/be3ds.png" alt="BE3DS icon" height="128" width="128">
					<p class="grid-label">A block escape game for Nintendo 3DS.</p>
				</div>
			</a>
		</div>
	</div>
</div>