---
---

/* Background related. */
$bg-color: #123456;
$bg-textcolor: #ABCDEF;

/* Bar related. */
$bar-color: #456789;
$bar-textcolor: #ABCDEF;

/* Card related. */
$card-title-bar-color: #456789;
$card-text-color: #ABCDEF;

/* Link related. */
$link-color: #89ABCD;
$link-hovercolor: #ABCDEF;

/* Others. */
$code-color: #ABCDEF;
$code-bg: #234567;

@import "main";