---
---

/* Background related. */
$bg-color: #123456;
$bg-textcolor: #AAAAAA;

/* Bar related. */
$bar-color: #456789;
$bar-textcolor: #AAAAAA;

/* Card related. */
$card-title-bar-color: #456789;
$card-text-color: #AAAAAA;

/* Link related. */
$link-color: #DDDDDD;
$link-hovercolor: #FFFFFF;

@import "main";