<!DOCTYPE html>
<!-- The Blog Layout. Displaying the blogs on the sidebar, and the actual content on the right side. -->
<html lang="en">
{% include head.html %}

<body>
	{% include navbar.html %}
	<div class="content mb-3 alignleft">
		<main>
			<div class="container-fluid">
				<div class="row pt-5">
					<div class="col-sm-3">

						<div class="card card-main mb-3">
							<div class="card-header card-title-bar">
								<label for="blogsearchinput" class="fw-bold">Blogs</label>
								<input type="text" id="blogsearchinput" value="">
							</div>

							<div class="card-body">
								<!-- Display all blogs here on that card. -->
								<ul>
									{% for item in site.data["blogs"] %}
										<li id={{ item.id }}>
											<a
												{% if item.title == page.title %}class="fw-bold"{% endif %}
													href="{{ item.url }}">{{ item.title }}
											</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					<!-- Page content. -->
					<div class="col-sm-8">
						<h1 class="aligncenter">{{ page.title }}</h1>
						<hr>
						
						{{ content }}
					</div>
				</div>
			</div>
		</main>
	</div>

	{% include footer.html %}
	<script src="/assets/js/blogsearch.js" type="module"></script>
</body>
</html>